<table>
  <tbody>
    <% recipe.recipe_comments.each do |recipe_comment| %>
    <tr>
      <td><%= recipe_comment.comment %></td>
      <td>
        <% if recipe_comment.user == current_user %>
          <%= link_to "削除", recipe_recipe_comment_path(recipe,recipe_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>