<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <%= form_tag(search_path, method: :get) do %>
      <%= label_tag :keyword, '今日何にしよう？' %>

      <div class="form-group">
        <%# 検索ワードを引く次ぐためにparams[:keyword] %>
        <%= text_field_tag :keyword, params[:keyword], class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6 mx-auto">
          <%= submit_tag '検索', class: 'btn btn-outline-secondary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>