<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <%= form_with url: admin_search_comment_path, method: :get do |f| %>
      <%= f.label :word, '検索したいワードを入力してください' %>
      <div class="form-group">
        <%= f.text_field :word, class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <%= f.submit '検索', class: 'btn btn-outline-secondary btn-block loading' %>
        </div>
      </div>
    <% end %>
  </div>
</div>