<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-6">
        <h3 class="p-3">新着コメント一覧</h3>
      </div>
      <div id="comment-delete">
        <%= render 'admin/homes/comment_index', recipe_comment: @recipe_comment %>
      </div>
    </div>
  </div>
</div>