<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <%= form_with url: search_bookmark_path, method: :get do |f| %>
      <%= f.label :keyword, 'お気に入りから検索する？' %>

      <div class="form-group">
        <%= f.text_field :keyword, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6 mx-auto">
          <%= f.submit '検索', class: 'btn btn-outline-secondary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>